.dropdown-toggle::after {
    display: none !important;
}

ul, ol {
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
    color: inherit !important;
}

.main-footer {
    border-top: 0 !important;
}

.botonColor , .botonColor:hover {
    background: rgb(165, 117, 117);
    color: white;
    font-size: 18px;
}

/* Colores para Redes Sociales */
.text-facebook {
    color: #3B5999;
}

.text-instagram {
    color: #E4405F;
}

.text-twitter {
    color: #55ACEE;
}

.text-linkedin {
    color: #0077B5;
}

.text-youtube {
    color: #DD4B39;
}

.text-twitch {
    color: #A142F7;
}


